@import '/src/scss/variables';
@import '/src/scss/mixins';

address {
  font-style: normal;
}

.leaflet-container {
  width: 100%;
  height: 320px;
  z-index: 1;
}

.map {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-bottom: $margin-block-mobile;

  &__card {
    display: flex;
    flex-direction: column;
    background-color: #fdf3f0;
  }
  &__location-container {
    height: 394px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-image: url(../../assets/shared/desktop/bg-pattern-two-circles.svg);
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__heading {
    font-size: 3.2rem;
    font-weight: $weight-heading;
    line-height: 36px;
    color: $pri-color-peach;
    text-align: center;
  }
  &__address-container,
  &__contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $pri-color-black;
  }
  &__contact-container {
    & > a {
      text-decoration: none;
      color: $pri-color-black;
    }
  }
  &__bold {
    font-weight: $weight-heading;
  }
}

@media only screen and (min-width: 768px) {
  .leaflet-container {
    border-radius: 15px;
  }
  .map {
    gap: 100px;

    &__card {
      margin-inline: $margin-outside-tablet;
      border-radius: 15px;
      gap: 30px;
      background-color: transparent;
    }
    &__location-container {
      display: grid;
      grid-template-columns: 0.8fr 1fr;
      grid-template-rows: min-content min-content;
      place-content: center;
      column-gap: 50px;
      background-color: #fdf3f0;
      border-radius: 15px;
      background-position: bottom center;
      padding-inline: 75px;
    }
    &__heading {
      font-size: 4rem;
      line-height: 48px;
      grid-column: 1/3;
      text-align: left;
    }
    &__address-container,
    &__contact-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      color: $pri-color-black;
    }
  }
}
