@import '/src/scss/variables';
@import '/src/scss/mixins';

address {
  font-style: normal;
}

.leaflet-container {
  width: 100%;
  height: 320px;
  z-index: 1;
}

.map {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-bottom: $margin-block-mobile;

  &__card {
    display: flex;
    flex-direction: column;
    background-color: #fdf3f0;
  }
  &__location-container {
    height: 394px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-image: url(../../assets/shared/desktop/bg-pattern-two-circles.svg);
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__heading {
    font-size: 3.2rem;
    font-weight: $weight-heading;
    line-height: 36px;
    color: $pri-color-peach;
    text-align: center;
  }
  &__address-container,
  &__contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $pri-color-black;
  }
  &__contact-container {
    & > a {
      text-decoration: none;
      color: $pri-color-black;
    }
  }
  &__bold {
    font-weight: $weight-heading;
  }
}
