@import '/src/scss/variables';
@import '/src/scss/mixins';

.error {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: $weight-body;
  line-height: 26px;
  font-style: italic;
  top: 30px;
  right: 15px;
  color: $pri-color-white;

  &::after {
    margin-left: 10px;
    content: url('../../assets/contact/desktop/icon-error.svg');
    width: 20px;
    height: 20px;
  }
}

.contact {
  .form {
    height: 764px;
    background-color: $pri-color-peach;
    background-image: url('../../assets/shared/desktop/bg-pattern-two-circles.svg');
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: $margin-block-mobile;

    &__form-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 70px $padding-outside-mobile;
    }
    &__hero-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &__heading {
      font-size: 3.2rem;
      font-weight: $weight-heading;
      line-height: 36px;
      color: $pri-color-white;
      text-align: center;
    }
    &__sub-heading {
      font-size: 1.5rem;
      font-weight: $weight-body;
      line-height: 25px;
      color: $pri-color-white;
      text-align: center;
    }
    &__inputs {
      margin-top: 30px;
    }
    &__cta {
      @include btn;
      display: block;
      margin: 0 auto;
      margin-top: 30px;
    }
    fieldset {
      position: relative;
      border: none;
    }
    input,
    textarea {
      display: block;
      width: 100%;
      color: $pri-color-white;
      padding: 30px 15px 15px;
      border: none;
      border-bottom: 1px solid $pri-color-white;
      background-color: transparent;

      &::placeholder {
        color: rgba($pri-color-white, 0.5);
      }
      &:focus-visible {
        outline: none;
        border-bottom: 2px solid $pri-color-white;
      }
    }
    textarea {
      height: 120px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    .form {
      margin-inline: $margin-outside-tablet;
      border-radius: 15px;
      background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: top -60px left -120px;

      &__form-container {
        padding: 75px;
      }

      &__heading {
        font-size: 4.8rem;
        line-height: 48px;
        text-align: left;
      }
      &__sub-heading {
        font-size: 1.6rem;
        line-height: 26px;
        text-align: left;
      }

      &__cta {
        margin: 0;
        margin-top: 30px;
        margin-left: auto;
      }
    }
  }
}
