@import '/src/scss/variables';
@import '/src/scss/mixins';

.home {
  .hero {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 843px;
    background: $pri-color-peach;
    overflow: hidden;
    padding: 75px $padding-outside-mobile;

    &::after {
      position: relative;
      z-index: -1;
      content: url('../../assets/home/desktop/bg-pattern-hero-home.svg');
      top: 0;
      left: -20px;
      transform: translateY(-50%);
    }

    &__heading {
      font-size: 3.2rem;
      font-weight: $weight-body;
      line-height: 36px;
      color: $pri-color-white;
      text-align: center;
    }
    &__sub-heading {
      font-size: 1.5rem;
      font-weight: $weight-body;
      line-height: 25px;
      color: $pri-color-white;
      text-align: center;
    }
    &__cta {
      @include btn;
      align-self: center;
    }
    &__img {
      position: absolute;
      z-index: 0;
      left: 50%;
      right: 0;
      transform: translateX(-50%);
      bottom: -360px;
      width: 600px;
      height: auto;
      max-width: none;
    }
  }
}

// Project section scss located in component scss
.qualities {
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding-inline: $padding-outside-mobile;
  margin-bottom: 150px;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__img {
    background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
  }
  &__heading {
    font-size: 2rem;
    font-weight: $weight-heading;
    line-height: 26px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $sec-color-black;
  }
  &__sub-heading {
    font-size: 1.6rem;
    font-weight: $weight-body;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    color: $sec-color-black;
  }
}
