@import '/src/scss/variables';
@import '/src/scss/mixins';

.home {
  .hero {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 843px;
    background: $pri-color-peach;
    overflow: hidden;
    padding: 75px $padding-outside-mobile;
    background-image: url('../../assets/home/desktop/bg-pattern-hero-home.svg');
    background-position: left center;
    background-repeat: no-repeat;

    &__heading {
      font-size: 3.2rem;
      font-weight: $weight-heading;
      line-height: 36px;
      color: $pri-color-white;
      text-align: center;
    }
    &__sub-heading {
      font-size: 1.5rem;
      font-weight: $weight-body;
      line-height: 25px;
      color: $pri-color-white;
      text-align: center;
    }
    &__cta {
      @include btn;
      align-self: center;
    }
    &__img {
      position: absolute;
      z-index: 0;
      left: 50%;
      right: 0;
      transform: translateX(-50%);
      bottom: -360px;
      width: 600px;
      height: auto;
      max-width: none;
    }
  }
}

// Project section scss located in component scss
.qualities {
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding-inline: $padding-outside-mobile;
  margin-bottom: $margin-block-mobile;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__img {
    background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__heading {
    font-size: 2rem;
    font-weight: $weight-heading;
    line-height: 26px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $sec-color-black;
  }
  &__sub-heading {
    font-size: 1.6rem;
    font-weight: $weight-body;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    color: $sec-color-black;
  }
}

@media only screen and (min-width: 768px) {
  .home {
    .hero {
      margin-inline: $margin-outside-tablet;
      border-radius: 15px;
      align-items: center;
      background-position: right -130px center;

      &__heading {
        font-size: 4.8rem;
        line-height: 48px;
        width: 75%;
      }
      &__sub-heading {
        font-size: 1.6rem;
        line-height: 26px;
        width: 65%;
      }
    }
  }

  .qualities {
    padding-inline: $margin-outside-tablet;

    &__card {
      flex-direction: row;
      gap: 35px;
    }
    &__wrapper {
      align-items: start;
    }
    &__heading {
      text-align: left;
    }
    &__sub-heading {
      text-align: left;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .home {
    &::before {
      position: absolute;
      content: url('../../assets/shared/desktop/bg-pattern-leaf.svg');
      top: 1850px;
      right: 0;
      z-index: -1;
      transform: rotate(180deg);
    }

    &::after {
      position: absolute;
      content: url('../../assets/shared/desktop/bg-pattern-leaf.svg');
      top: 460px;
      left: 0;
      z-index: -1;
    }

    .hero {
      width: $width-desktop;
      height: 640px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content min-content;
      place-content: center;
      gap: 40px;
      background-position: right center;
      padding-inline: $padding-outside-desktop;

      &__heading,
      &__sub-heading {
        text-align: left;
        width: 50%;
      }
      &__img {
        left: initial;
        right: -69px;
        bottom: -225px;
        transform: translateX(0);
      }
    }
  }

  .qualities {
    padding-inline: 0;
    width: $width-desktop;
    margin: 0 auto 150px;
    flex-direction: row;

    &__card {
      flex-direction: column;
    }
    &__wrapper {
      align-items: center;
    }
    &__sub-heading {
      text-align: center;
    }
  }
}
