@import '/src/scss/variables';
@import '/src/scss/mixins';

.mission {
  &__card {
    & > img {
      width: 100%;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 75px $padding-outside-mobile;
    background-color: $pri-color-peach;
    background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
    background-position: top -150px right 0px;
    background-repeat: no-repeat;
    background-size: 80%;
  }
  &__heading {
    font-size: 3.2rem;
    font-weight: $weight-heading;
    line-height: 36px;
    color: $pri-color-white;
    text-align: center;
  }
  &__sub-heading {
    font-size: 1.5rem;
    font-weight: $weight-body;
    line-height: 25px;
    color: $pri-color-white;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .mission {
    padding-inline: $margin-outside-tablet;
    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 150px;

      & > img {
        border-radius: 15px 15px 0 0;
      }
    }
    &__container {
      border-radius: 0 0 15px 15px;
      padding: 75px;
    }
    &__heading {
      font-size: 4.8rem;
      line-height: 48px;
    }
    &__sub-heading {
      font-size: 1.6rem;
      line-height: 26px;
    }
  }
}
