@import '/src/scss/variables';
@import '/src/scss/mixins';

.mission {
  margin-bottom: $margin-block-mobile;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    height: 545px;
    padding-inline: $padding-outside-mobile;
    background-color: #fdf3f0;
    background-image: url('../../assets/about/mobile/bg-pattern-hero-about-mobile.svg');
    background-position: top center;
  }
  &__heading {
    font-size: 3.2rem;
    font-weight: $weight-heading;
    line-height: 36px;
    color: $pri-color-peach;
    text-align: center;
  }
  &__sub-heading {
    font-size: 1.5rem;
    font-weight: $weight-body;
    line-height: 25px;
    color: $pri-color-black;
    text-align: center;
  }
}
