@import '/src/scss/variables';
@import '/src/scss/mixins';

.header {
  position: relative;

  &__container {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $pri-color-white;
    padding: 30px 20px;
  }
  &__logo {
    width: 202px;
    height: auto;
  }
  &__hamburger-icon {
    width: 24px;
    height: auto;
    align-self: start;
  }
  &__menu {
    position: relative;
    z-index: -999;
    display: flex;
    flex-direction: column;
    background: $pri-color-black;
    padding: 30px 20px;
    max-height: 225px;
    transform: translateY(-225px);
    transition: all 0.5s ease-in;

    &--active {
      transform: translateY(0);
    }
  }
  &__link {
    height: auto;
    text-decoration: none;
    font-size: 2.4rem;
    line-height: 25px;
    letter-spacing: 2px;
    color: $pri-color-white;
    text-transform: uppercase;
    padding-block: 15px;
  }
}
