@import '/src/scss/variables';
@import '/src/scss/mixins';

.works {
  margin-block: $margin-block-mobile;
  display: flex;
  flex-direction: column;
  gap: 35px;

  &__card {
    display: flex;
    flex-direction: column;
    width: 327px;
    background-color: #fdf3f0;
    margin: 0 auto;
    border-radius: 10px;
  }
  &__image {
    width: 100%;
    height: 320px;
    border-radius: 10px 10px 0 0;
  }
  &__container {
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-inline: $padding-outside-mobile;
  }
  &__heading {
    font-size: 2rem;
    font-weight: $weight-heading;
    line-height: 26px;
    letter-spacing: 5px;
    color: $pri-color-peach;
    text-transform: uppercase;
    text-align: center;
  }
  &__sub-heading {
    font-size: 1.6rem;
    font-weight: $weight-body;
    line-height: 26px;
    color: $pri-color-black;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .works {
    margin-inline: $margin-outside-tablet;

    &__card {
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
    &__image {
      width: 339px;
      height: 310px;
    }
    &__container {
      height: 100%;
      padding: $margin-outside-tablet;
    }
  }
}
