// palette
// primary
$pri-color-peach: #e7816b;
$pri-color-black: #1d1c1e;
$pri-color-white: #ffffff;
// secondary
$sec-color-peach: #ffad9b;
$sec-color-black: #333136;
$sec-color-whitek: #f1f3f5;

// typography
$font: 'Jost', sans-serif;
$weight-heading: 500;
$weight-body: 400;
